@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&display=swap");
body {
  font-family: Montserrat, sans-serif;
  color: #fff; }

.font-weight-light {
  font-weight: 200; }

.font-weight-medium {
  font-weight: 400; }

.font-weight-bold {
  font-weight: 700; }

.font-weight-black {
  font-weight: 900; }

.titulo {
  font-size: 2rem;
  text-transform: uppercase; }
  @media all and (min-width: 768px) {
    .titulo {
      font-size: 3rem; } }

#home .slogan p {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-shadow: -1px -1px 5px #000000; }
  @media all and (min-width: 768px) {
    #home .slogan p {
      font-size: 5rem;
      line-height: 80px; } }

.modal-header .modal-title {
  font-size: 1.3rem; }

.modal-header .close span {
  font-size: 1.5rem; }

#seccionEventos .tituloEvento {
  font-size: 2rem; }

#seccionEventos .fechaEvento h3, #seccionEventos .fechaEvento .infoEvento p, #seccionEventos .infoEvento .fechaEvento p {
  font-size: 1.2rem; }

#seccionEventos .infoEvento p {
  padding-top: 1.2em; }

#contacto .datos {
  font-weight: 700; }
  @media all and (min-width: 768px) {
    #contacto .datos {
      font-size: 1.5rem; } }

body {
  background-color: black; }

.bgBlack {
  background-color: black; }

.colorChange {
  color: #ef00ff; }

.blackscreen {
  background-color: rgba(0, 0, 0, 0.5); }

.modal-header button {
  background-color: transparent;
  border: 0; }
  .modal-header button span {
    color: #ef00ff; }
    .modal-header button span:hover {
      color: #008FFF; }

.btn {
  background-color: #ef00ff;
  border: none;
  color: #fff;
  font-weight: 700; }

#contacto {
  height: 100vh; }
  #contacto .form-control {
    color: #fff !important; }
    #contacto .form-control:focus {
      background-color: #fff !important;
      color: #000 !important; }
  #contacto .datos a {
    color: #ef00ff; }
    #contacto .datos a:hover {
      color: #008FFF; }
    @media all and (min-width: 992px) {
      #contacto .datos a {
        transition: all 150ms ease-in-out; } }

@media all and (min-width: 992px) {
  #header {
    max-height: 80px;
    font-size: 1.1rem; }
    #header .navbar-brand img {
      transition: all 150ms ease-in-out; } }

#header .navbar-brand img:hover {
  transform: scale(1.05); }

#home {
  background-image: url(../assets/imagebg3.jpg);
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;
  display: block; }
  @media all and (min-width: 768px) {
    #home {
      background-image: url(../assets/imagebg2.jpg);
      height: 100vh; } }
  #home .slogan.sloganPosition {
    padding-top: 5em; }

#seccionEventos .blackscreen {
  width: 100%;
  height: 100%;
  position: absolute; }

@media all and (min-width: 992px) {
  #galeria .fotoGaleria {
    transition: all 150ms ease-in-out; } }

#galeria .fotoGaleria:hover {
  transform: scale(1.05); }

#galeria .fotoGaleria img {
  width: 100%;
  height: 100%;
  object-fit: fill; }

#contacto {
  width: auto;
  height: 95vh; }

footer {
  text-align: center; }
