body{
	background-color: black;
}

.bgBlack{
	background-color: black;
}

.colorChange{
	color: $contrastColor;
}

.blackscreen{
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-header button{
	background-color: transparent;
	border: 0;
	span{
		color: $contrastColor;
		&:hover{
			color: #008FFF;
		}
	}
}

.btn{
	background-color: $contrastColor;
	border: none;
	color: #fff;
	font-weight: 700;
}

#contacto{
	height: 100vh;
	.form-control{
		color: #fff !important;
		&:focus{
			background-color: #fff !important;
			color: #000 !important;
		}
	}
	.datos a{
		color: $contrastColor;
		&:hover{
			color: #008FFF;
		}
		@media all and (min-width: $point-lg){
			transition: all 150ms ease-in-out;
		}
	}
}