body{
	background-color: black;
}

.colorChange{
	color: $contrastColor;
}

.blackscreen{
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
}

.btn{
	background-color: $contrastColor;
	border: none;
	color: #fff;
	font-weight: 700;
}

#contacto{
	height: 100vh;
	.form-control{
		color: #fff !important;
		&:focus{
			background-color: #fff !important;
			color: #000 !important;
		}
	}
}