@mixin size($width: 100%, $height: 100%){
	width: $width;
	height: $height;
}

#header{
	@media all and (min-width: $point-lg){
		max-height: 80px;
		font-size: 1.1rem;
		.navbar-brand{
			img{
				transition: all 150ms ease-in-out;	
			}
		}
	}
	.navbar-brand{
		img{
			&:hover{
				transform: scale(1.05);
			}
		}
	}
}

#home{
	background-image: url(../assets/imagebg3.jpg);
	@include size(100%, 50vh);
	background-position: center;
	background-size: cover;
	display: block;
	@media all and (min-width: $point-md){
		background-image: url(../assets/imagebg2.jpg);
		height: 100vh;
	}
	.slogan{
		&.sloganPosition{
			padding-top: 5em;
		}
	}
}

#seccionEventos{
	.blackscreen{
		@include size;
		position: absolute;
	}
}

#galeria{
	.fotoGaleria{
		@media all and (min-width: $point-lg){
			transition: all 150ms ease-in-out;
		}
		&:hover{
			transform: scale(1.05);
		}
		img{
			@include size;
			object-fit: fill;
		}
	}
}

#contacto{
	@include size(auto, 95vh)
}

footer{
	text-align: center;
}