@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&display=swap');

body{
	font-family: Montserrat, sans-serif;
	color: #fff;
}

@each $k, $v in $font-weight{
	.font-weight-#{$k}{
		font-weight: $v;
	}
}

.titulo{
	font-size: 2rem;
	text-transform: uppercase;
	@media all and (min-width: $point-md){
		font-size: 3rem;
	}
}

#home{
	.slogan p{
		text-transform: uppercase;
		font-size: 1.5rem;
		line-height: 1.5rem;
		text-shadow: -1px -1px 5px #000000;
		@media all and (min-width: $point-md){
			font-size: 5rem;
			line-height: 80px;
		}
	}
}

#seccionEventos{
	.tituloEvento{
		font-size: 2rem;
		}


	.fechaEvento{
		h3{
			font-size: 1.2rem;
		}
	}
	.infoEvento{
		p{
			@extend h3;
			padding-top: 1.2em;
		}
	}
}

#contacto{
	.datos{
		font-weight: map-get($font-weight, bold);
		@media all and (min-width: 768px){
			font-size: 1.5rem;
		}
	}
}