@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&display=swap');

body{
	font-family: Montserrat, sans-serif;
	color: #fff;
}

.titulo{
	font-weight: 900;
	font-size: 2rem;
	text-transform: uppercase;
	@media all and (min-width: $point-md){
		font-size: 3rem;
	}
}

#home{
	.slogan p{
		text-transform: uppercase;
		font-size: 1.5rem;
		line-height: 1.5rem;
		font-weight: 900;
		text-shadow: -1px -1px 5px #000000;
		@media all and (min-width: $point-md){
			font-size: 5rem;
			font-weight: 900;
			line-height: 80px;
		}
	}
}

.tituloEvento{
	font-weight: 700;
	font-size: 1.5rem;
	@media all and (min-width: $point-md){
		font-size: 2rem;
	}
}

#contacto{
	.datos{
		font-weight: 700;
		@media all and (min-width: 768px){
			font-size: 1.3rem;
		}
	}
}

